/* .navbar {
  padding: 20px 0; 
  background-color: #ded5cc;
  width: 100%;
  height: 60px;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.brand a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #50433c;
}

.navbar-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin-left: auto;
  overflow: hidden;
}

.navbar-links a {
  float: left;
  display: block;
  margin-left: 20px;
  font-size: 18px;
  color: #50433c;
  text-decoration: none;
  transition: color 0.3s ease;
}
.navbar_btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}
.responsive_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
@media only screen and (max-width: 1024px) {
  .navbar_btn {
    visibility: visible;
    opacity: 1;
  }
  .navbar-links{
     float: none; 
    text-align: left;
    margin-top: 60px;
    display: none;
    transition: 1s;
    transform: translate(-100vh);
  }
  .navbar-links a{
    color: white;
    position: relative;
    text-align: left;
    font-size: 1.2rem;
  }
  .navbar-container{
    display: flex;
    justify-content: space-between;
  }
  .responsive_navbar{
    transform: none;
  }
  .navbar_close{
    position: absolute;
    top: 1rem;
    right: 2rem;
  }
  .responsive_navbar {
    display: flex;
  }
} */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fcfcfc;
}

.navbar-container {
  height: 100%;

  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.navbar {
  height: 60px;
  background-color: #fef7e5;
  position: relative;
  z-index: 100;
}

.brand a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #50433c;
  text-decoration: none;
  padding-left: 20px;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul a {
  font-weight: 400;
  margin-left: 20px;
  font-size: 18px;
  color: #50433c;
  text-decoration: none;
  transition: color 0.3s ease;
}
.nav-elements ul li {
  padding: 15px;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements {
    flex-grow: 1;
    margin-left: auto;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 1.8rem;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
