.maindiv {
  display: flex;
  flex-direction: column;
}
.main_category {
  display: flex;
  width: 96vw;
  margin: 0px 20px 20px 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 20px;
  text-align: center;
}
.main_catgeory2 {
  display: flex;
  position: relative;
  margin: auto;
  flex-wrap: wrap;
  width: 60vw;
  justify-content: space-between;
  padding: 0px 20px;
  text-align: center;
}
.categories {
  border: 1px solid black;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 12rem;
  height: 12rem;
  padding: 40px;
  margin: 20px 10px;
  line-height: 1.4;
  background-color: #ded5cc;
  border-radius: 50%;
}

/* Category image styles */
.category_img {
  width: 50px;
  height: 50px;
}
.manualsize {
  width: 80px;
  height: 80px;
}
.categoryIcon {
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: auto;
}
.category_title {
  margin: 2px;
  font-size: 1rem;
}
.heading {
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width: 309px) {
  .main_catgeory2 {
    width: 100vw;
    justify-content: center;
  }

  .categories {
    width: 15rem;
    height: 13rem;
  }
  .category_title {
    margin: 2px;
    font-size: 0.5rem;
  }
  .category_img {
    width: 50px;
    height: 50px;
  }
  .manualsize {
    width: 70px;
    height: 70px;
  }
}

@media (min-width: 310px) and (max-width: 1300px) {
  .main_catgeory2 {
    width: 100vw;
    justify-content: center;
  }
}
