.contact-container {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 1;
  background-color: #ded5cc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #50433c;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

form:hover {
  border-color: rgba(0, 0, 0, 0.5);
}

form p {
  color: #50433c;
  margin-left: 30%;
  font-weight: bolder;
}

form label {
  margin-top: 1rem;
  color: #50433c;
}

form input,
form textarea {
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(220, 220, 220);
}

form input:focus,
form textarea:focus {
  border: 2px solid #ded5cc;
}

form input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
  background: #ded5cc;
  color: #50433c;
  border: none;
  width: 50%;
  margin-left: 25%;
  font-weight: bold;
}

.contact_heading {
  letter-spacing: 1px;
  margin: 20px 0px;
  text-align: center;
}

.box {
  width: 80%;
  height: 80%;
  position: relative;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.contact_main {
  display: flex;
  padding-bottom: 56.25%;
  max-width: 100%;
}

.contact_form {
  background-color: #ded5cc;
}
