.footer {
  display: flex;
  gap: 20px;
  background-color: #50433c;
  padding: 90px 150px;
  color: #fff;
  flex-wrap: wrap;
}

.footer_section {
  flex: 1;
  margin-right: 20px;
}

.footer_section h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer_section ul {
  list-style:circle;
  padding: 0;
}

.footer_section ul li {
  margin-bottom: 20px;
  
}

.footer_section ul li  a{
  text-decoration: none;
  color: #fff;
  
}

.footer_section p {
  margin-bottom: 20px;
  color: #fff;
  font-size: 1rem;
}

.learn_more {
  background-color: #8dc63f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.learn_more:hover {
  background-color: #6faa2e;
}

.socials {
  margin-top: 10px;
}

.socials svg {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.socials svg:hover {
  color: #8dc63f;
}

/* Copyright Section */
.footer_bottom p{
  color: #fff;
}
.footer_bottom {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
  color: #ffffff;
}

.heart {
  color: red;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_section {
    margin: 20px 0;
  }

  .footer_bottom {
    margin-top: 20px;
  }
}
