.gallery-container {
  background-color: #ded5cc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery-photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Display three photos in one row */
  grid-gap: 15px;
}

.gallery-photos img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.galleryHeading {
  margin: 20px;
  text-align: center;
}

.gallery-photos img:hover {
  transform: scale(1.1);
}

.view-more-button {
  background-color: white;
  color: brown;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  display: block;
}

.view-more-button:hover {
  background-color: #f0f0f0;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
  .gallery-photos {
    grid-template-columns: repeat(2, 1fr); /* Display two photos in one row */
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .gallery-photos {
    grid-template-columns: repeat(1, 1fr); /* Display one photo in one row */
  }
}
