/* .mainContainer {
  display: flex;
  height: calc(100vh - 60px);
  display: relative;
}

.leftSide {
  flex: 3;
}

.rightSide {
  flex: 2;
  background-color: #ded5cc;
} */



/* .quoteold {
  font-size: 40px;
  font-weight: 600;
  color: #50433c;
} */

/* .quote1 {
  letter-spacing: 0px;
} */

/* .quoteSection1 {
  
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 7.5%;
  
}

.quoteSection2 {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 7.5%;
  top: 48%;
}

.highlight {
  font-weight: bold;
  color: #161515; 
}

.quoteSection2 span  {
  color: #50433c;
  font-size: 20px;
}



.stars {
  position: absolute;
  left: 7.4%;
  top: 24%;
  color: #50433c;
  font-size: 25px;
}
.enquireButton {
  
  position: absolute;
  left: 7.5%;
  top: 70%;
} */

/* .enquireStyle {
  padding: 10px 20px;
  font-size: 18px;
  width: auto;
  border: 2px solid #50433c;
  transition: background-color 0.3s ease;
  color: white;
  background-color: #50433c;
}

.heroImage {
  position: absolute;
  right: 23%;
  top: 54%;
  transform: translateY(-50%);
  width: 300px;
  
  height: auto; 
  border: 10px solid white;
}

.heroImage2 {
  position: absolute;
  transform: translateY(-50%);
  right: 6%;
  top: 54%;
  width: 250px;
  border: 10px solid white;
}
@media screen and (max-width: 500px) {
  
 

  .enquireButton {
    position: absolute;
    left: 7.5%;
    top: 69%;
  }

  .rightSide {
    flex: 0;
    background-color: white;
  }

  .heroImage {
    position: none;
    right: 0;
    top: 0;
    transform: 0;
    width: 0;
    
    height: 0; 
    border: none;
  }

  .heroImage2 {
    position: none;
    transform: 0;
    right: 0;
    top: 0;
    width: 0;
    border: none;
  }

  .rightsideimg {
    flex-direction: column;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar-links a {
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
  }

  .navbar-toggle {
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 14px 16px;
  }

  .navbar-active .navbar-links {
    display: flex;
  }
} */
